<div class="loginpage">
    <div class="backgroundBox">
        <div class="division-1">
            <div class="sub-div-1">
                <div class="logbox">
                    <div class="googlesign">
                        <p class="signinWithGoogle">Password Reset</p>
                    </div>
                    <div class="namebox">
                        <input #email type="text" name="email" required>
                        <p class="name">Email address</p>
                    </div>
                    <div class="logBotton">
                        <button (click)="ResetEmail(email.value)">Reset password</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="division-2">
            <p>TR BROKERZ</p>
            <div class="description">
                <span>Start Earning Today</span>
            </div>
        </div>

    </div>
</div>