* {
    font-family: roboto, sans-serif;
}

.page1 {
    height: 1500px;
    position: relative;
    overflow: hidden;
    p {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        font-size: 1.5rem;
    }
}

#page::before {
    content: " ";
    position: absolute;
    width: 2000px;
    height: 746px;
    background: linear-gradient(0deg, #e7e4f3, transparent);
    z-index: -1;
    left: 55%;
    transform: skew(-46deg, 0deg);
}

.div1 {
    position: relative;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin-top: 100px;
}

.div1Image {
    box-sizing: content-box;
    float: left;
    width: 50%;
    img {
        width: 65%;
        height: auto;
        position: relative;
        left: 5%;
    }
}

.div1Text {
    box-sizing: content-box;
    float: left;
    padding-top: 120px;
    width: 50%;
    p {
        text-align: center;
        font-size: 4em;
        letter-spacing: -1px;
        margin: 0px 0px 10px 0px;
        color: #930156
    }
}

@media screen and (max-width:px) {
    .div1 {
        display: flex;
        padding: 10px;
    }
}

@media screen and (max-width:1260px) {
    .div1 {
        display: flex;
        padding: 10px;
    }
}

@media screen and (max-width:500px) {
    .div1 {
        padding: 10px;
        display: block;
    }
    .div1Image {
        float: none;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .div1Text {
        float: none;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 100px;
        p {
            font-size: 3rem;
        }
    }
}